* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 228, 164);
}

.container {
  width: 100%;
  padding: 15px;
}

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 20px 5px;
  border-bottom: 10px solid;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-direction: row; /* 가로 방향 나열 */
  list-style: none;
  gap: 20px;
  padding: 10px;
}

.navbar ul li a {
  font-size: 20px;
}

.navbar .logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: gray; /* 글자색을 밝게 변경 */
}

.main {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-img {
  width: 1000px;
}
